<div class="content-wrapper">

    <div class="title-container">
        <h1 class="title"></h1>
        <h4 class="description"></h4>
    </div>

    <div class="form-container">
        <label for="input1" class="label" >Input 1</label>
        <input id="input1" type="text" class="input">
        <label for="input2" class="label" >Input 2</label>
        <input id="input2" type="text" class="input">
    </div>

    <div class="result-container">
        <h2 class="result">
            Resultado: <span id="resultValue">-</span>
        </h2>
    </div>

    <div class="button-container">
        <button class="button">Enviar</button>
    </div>
    
</div>