<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercícios Senac</title>

    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <nav class="menu">
        <h1 class="menu_title">Lista de Exercícios</h1>
        <ul class="menu_scroll">
            <li>
                <button class="menu_button">
                    <a href="">#1 - Somar dois números</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
            <li>
                <button class="menu_button">
                    <a href="">#2 - Valor por hora trabalhada</a>
                </button>
            </li>
        </ul>
    </nav>

</body>
</html>