<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercícios Senac</title>

    <link rel="stylesheet" href="/css/home.css">
</head>
<body id="body">
    <div class="grid_container">
        <nav id="menu" class="menu">
            <div class="title_and_button_wrapper">
                <h1 id="menu_list_title" class="menu_list_title">Lista de Exercícios</h1>
                <button id="toggle_list_button" class="toggle_list_button">Trocar Lista</button>
            </div>
            <ul id="exercises_list" class="menu_scroll">
                <li>
                    <button class="list_button exercise_button">
                        <h4>#1 - </h4>
                        <a href="">Somar Dois Números</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#2 - </h4>
                        <a href="">Valor por Hora Trabalhada</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#3 - </h4>
                        <a href="">Média de Peso</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#4 - </h4>
                        <a href="">Conversão de Temperatura</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#5 - </h4>
                        <a href="">Conversão de Distância</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#6 - </h4>
                        <a href="">Separador de Tempo</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#7 - </h4>
                        <a href="">Separador de Metragem</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#8 - </h4>
                        <a href="">Tabuada</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#9 - </h4>
                        <a href="">Média Aritmética</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#9 - </h4>
                        <a href="">Calculadora Básica</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#11 - </h4>
                        <a href="">Calculo IMC</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#12 - </h4>
                        <a href="">Verificar Número</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#13 - </h4>
                        <a href="">Par ou Impar</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#14 - </h4>
                        <a href="">Par ou Impar</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#15 - </h4>
                        <a href="">Qual é Maior?</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#16 - </h4>
                        <a href="">Triângulo?</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#16 - </h4>
                        <a href="">Imposto de Renda</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#17 - </h4>
                        <a href="">Média Ponderada</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#18 - </h4>
                        <a href="">Calculo Fabrica</a>
                    </button>
                </li>
                <li>
                    <button class="list_button exercise_button">
                        <h4>#19 - </h4>
                        <a href="">Calculo de Juros</a>
                    </button>
                </li>
            </ul>
            <!-- Challenges List -->
            <ul id="challenges_list" class="menu_scroll">
                <li>
                    <button class="challenge_button list_button">
                        <h4>#1 - </h4>
                        <a href="">Separador de Idade</a>
                    </button>
                </li>
                <li>
                    <button class="challenge_button list_button">
                        <h4>#2 - </h4>
                        <a href="">Troca de Valores</a>
                    </button>
                </li>
                <li>
                    <button class="challenge_button list_button">
                        <h4>#3 - </h4>
                        <a href="">Qual é Maior?</a>
                    </button>
                </li>
            </ul>
        </nav>
        <section>

        </section>
    </div>
</body>

<script src="/js/menu_switch.js"></script>
</html>