@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    /* Toggle button colors */

    /* Exercise layout colors */
    --page-exercise-background-color:#858AE3;
    --menu-exercise-background-color:#4E148C;
    --menu-exercise-title-color:#FBF5F3;
    --button-exercise-border-color: #7950e8;
    --button-exercise-background-color:#613DC1;
    --button-exercise-color:#FBF5F3;
    /* Challenges layout colors */
    --page-challenge-background-color:#FFABA1;
    --menu-challenge-background-color:#BD3333;
    --menu-challenge-title-color:#FBF5F3;
    --button-challenge-border-color: #e26b6b;
    --button-challenge-background-color:#D55858;
    --button-challenge-color:#FBF5F3;
    /* Extra layout colors */
    --page-extra-background-color:#87CBAC;
    --menu-extra-background-color:#34623F;
    --menu-extra-title-color:#1E1E24;
    --button-extra-border-color:#598335;
    --button-extra-background-color:#4F772D;
    --button-extra-color:#1E1E24;
    /* Query Params layour colors */
    --page-qp-background-color:#FADF94;
    --menu-qp-background-color: #C4A85B;
    --menu-qp-title-color:#1E1E24;
    --button-qp-border-color:#ffedbb;
    --button-qp-background-color:#FFE9AD;
    --button-qp-color:#1E1E24;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    /* This color is going to change with the js */
    background-color: var(--page-exercise-background-color);
    display: grid;
    grid-template-rows: 25vh 1fr;
    
    height: 100vh;
}

.header-wrapper {
    /* This color is going to change with the js */
    background-color: var(--menu-exercise-background-color);
}

.nav-menu-container {
    display: grid;
    grid-template-rows: 2fr 3fr;

    height: 25vh;
}

/* Menu title and list toggle button */

.title-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-list-title {
    padding: 5px;

    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 500;
    /* This color is going to change with the js */
    color: var(--menu-exercise-title-color);
}

.toggle-list-button {
    padding: 5px;
    border: solid 3px var(--button-exercise-border-color);

    font-family: 'Montserrat';
    font-size: 0.8rem;
    font-weight: 500;

    border-radius: 100px;
    /* These colors are going to change with the js */
    background-color: var(--button-exercise-background-color);
    color: var(--button-exercise-color);
    cursor: pointer;
}

/* List Wrapper and Container */

.list-wrapper {
    display: flex;
	justify-content: center;
    overflow: auto;
}
.list-wrapper::-webkit-scrollbar {
    width: 0.000001px;
} 
.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style for buttons */
.list-button {
    display: flex;

    width: 60px;

    border: solid 1px;
    border-radius: 4px;
    border-color: var(--button-exercise-border-color);
    padding: 10px;
    margin: 15px;

    background-color: var(--button-exercise-background-color);

    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 500;
    
    box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.4);
    cursor: pointer;
}

.list-button h4 {
    padding-right: 10px;
}

.list-button a {
    display: none;
}

.list-button:hover h4, .list-button:hover a {
    font-size: 1.1rem;
}

/* Disabling the other lists as default */

#challengesList {
    display: none;
}

#extraList {
    display: none;
}

#qpList {
    display: none;
}

/* This is where the content will be loaded */

#contentSection {
    display: grid;
    place-items: center;
}

@media (min-width: 1024px) {

    body {
        display: grid;
        grid-template-rows: none;
        grid-template-columns: 25vw 1fr;
    }

    .nav-menu-container {
        display: grid;
        grid-template-rows: 1fr 8fr;   
        height: 100vh;
    }

    .list-wrapper {
        width: 100%;
    }

    .list-container {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .list-button {
        font-size: 1rem;
    }

    .list-button a {
        display: hidden;
    }

}

@media (min-width: 1280px) {

    .menu-list-title {
        padding: 10px;
        font-size: 1.2rem;
    }
    
    .toggle-list-button {
        padding: 10px;
        font-size: 1rem;
    }


    .list-button {
        width: 300px;
    }

    .list-button a {
        display: block;
    }

}