<div class="content-wrapper">

    <div class="title-container">
        <h1 class="title">Qual é Maior?</h1>
        <h4 class="description">FUP que leia dois números inteiros e imprima o maior deles;</h4>
    </div>

    <div class="form-container">
        <label for="inputA" class="label" >Valor A</label>
        <input id="inputA" type="number" class="input">
        <label for="inputB" class="label" >Valor B</label>
        <input id="inputB" type="number" class="input">
    </div>

    <div class="result-container">
        <h2 class="result">
            Resultado: <span id="resultValue">-</span>
        </h2>
    </div>

    <div class="button-container">
        <button class="button" onclick="WhichOneIsHigher()">Enviar</button>
    </div>
    
</div>