<div class="content-wrapper">

    <div class="title-container">
        <h1 class="title">Separador de Idade</h1>
        <h4 class="description">FUP que leia a idade de uma pessoa em anos e imprima a idade em meses e em dias;</h4>
    </div>

    <div class="form-container">
        <label for="age" class="label" >Insira a Idade em Anos</label>
        <input id="age" type="number" class="input">
    </div>

    <div class="result-container">
        <h2 class="result">
            Resultado: <span id="resultValue">-</span>
        </h2>
    </div>

    <div class="button-container">
        <button class="button" onclick="SpecifyAge()">Enviar</button>
    </div>
    
</div>