<div class="content-wrapper">

    <div class="title-container">
        <h1 class="title">Troca de Valores</h1>
        <h4 class="description">FUP que leia dois valores A e B, efetue a troca dos valores de forma que a variável A passe a possuir o valor da variável B e a variável B passe a possuir o valor da variável A. Apresentar os valores das variáveis antes e depois de trocados;</h4>
    </div>

    <div class="form-container">
        <label for="valueA" class="label" >Valor A</label>
        <input id="valueA" type="number" class="input">
        <label for="valueB" class="label" >Valor B</label>
        <input id="valueB" type="number" class="input">
    </div>

    <div class="result-container">
        <h2 class="result">
            Resultado: <span id="resultValue">-</span>
        </h2>
    </div>

    <div class="button-container">
        <button class="button" onclick="SwapValues()">Enviar</button>
    </div>
    
</div>