<div class="content-wrapper">

    <div class="title-container">
        <h1 class="title">Valor por Hora Trabalhada</h1>
        <h4 class="description">FUP que leia o valor da hora do trabalhador e a quantidade de horas trabalhadas. Imprima o valor que o trabalhador deverá receber ao final do mês.;</h4>
    </div>

    <div class="form-container">
        <label for="salary" class="label" >Valor por Hora</label>
        <input id="salary" type="number" class="input">
        <label for="hoursWorked" class="label" >Horas Trabalhadas</label>
        <input id="hoursWorked" type="number" class="input">
    </div>

    <div class="result-container">
        <h2 class="result">
            Resultado: <span id="resultValue">-</span>
        </h2>
    </div>

    <div class="button-container">
        <button class="button" onclick="CalculateMonthlySalary()">Enviar</button>
    </div>
    
</div>