<div class="content-wrapper">

    <div class="title-container">
        <h1 class="title">Media de Peso</h1>
        <h4 class="description">FUP que solicite o peso de 5 pessoas e calcule a media; Imprima o resultado;</h4>
    </div>

    <div class="form-container">
        <label for="w1" class="label" >Peso 1</label>
        <input id="w1" type="number" class="input">
        <label for="w2" class="label" >Peso 2</label>
        <input id="w2" type="number" class="input">
        <label for="w3" class="label" >Peso 3</label>
        <input id="w3" type="number" class="input">
        <label for="w4" class="label" >Peso 4</label>
        <input id="w4" type="number" class="input">
        <label for="w5" class="label" >Peso 5</label>
        <input id="w5" type="number" class="input">
    </div>

    <div class="result-container">
        <h2 class="result">
            Resultado: <span id="resultValue">-</span>
        </h2>
    </div>

    <div class="button-container">
        <button class="button" onclick="CalculateAverageWeight()">Enviar</button>
    </div>
    
</div>