<div class="content-wrapper">

    <div class="title-container">
        <h1 class="title">Conversor de Milhas</h1>
        <h4 class="description">FUP que solicite a quantidade de milhas e converta para quilometros (1milha = 1.60934kms);</h4>
    </div>

    <div class="form-container">
        <label for="miles" class="label" >Valor em Milhas</label>
        <input id="miles" type="number" class="input">
    </div>

    <div class="result-container">
        <h2 class="result">
            Resultado: <span id="resultValue">-</span>
        </h2>
    </div>

    <div class="button-container">
        <button class="button convert-button" onclick="ConvertMilesToKilometers()">Enviar</button>
    </div>
</div>