<div class="content">

    <div class="containers_wrapper">  
        <div class="title_container">
            <h1 class="title">Somar Dois Números</h1>
            <h4 class="description">FUP que solicite dois numeros reais, realize a soma; Imprima o resultado;</h4>
        </div>

        <div class="form_container">
            <div>
                <label for="num1" class="label" >Primeiro Valor</label>
                <input id="num1" type="number" class="input">

                <label for="num2" class="label" >Segundo Valor</label>
                <input id="num2" type="number" class="input">
            </div>
    
            <div class="result_container">
                <h2>
                    Resultado: <span id="result_value">-</span>
                </h2>
            </div>
    
        </div>

        <div class="button_container">
            <button id="summit_button" class="button" onclick="SumTwoNumbers()">Enviar</button>
        </div>

    </div>
</div>

<style>
    * {
        box-sizing: border-box;
        padding: 0;
        border: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
    }

    .content {
        height: 80vh;
        width: 50vw;

        background-color: #f4f4f4;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .containers_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 20px 40px;
    }
  
    /* Title styles */
    .title_container {
        padding: 20px;

        font-family: 'Montserrat';
    }

    .title {
        text-align: center;

        margin-bottom: 10px;

        font-size: 2rem;
        font-weight: 500;
        color: #1E1E24;
    }

    .description {
        text-justify: justify;

        font-size: 1rem;
        font-weight: 500;
        color: #1E1E24;
    }
  
    /* labels and inputs style */
    .form_container {
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }

    .form_container div {
        height: 100%;
        width: 100%;
    }
  
    .label {
        display: block;

        font-family: 'Montserrat';
        font-size: 1rem;
        font-weight: bold;
    }
  
    .input {
        width: 80%;
        padding: 8px;
        border: 1px solid #ccc;
        margin-bottom: 10px;

        font-family: 'Montserrat';
        font-size: 1rem;
        font-weight: 400;

        border-radius: 4px;
    }
    /* result style */
    .result_container h2 {
        font-family: 'Montserrat';
        font-size: 1.2rem;
        font-weight: 500;
    }

    /* button style */

    .button_container {
        padding: 20px;
        text-align: center;
    }

    .button {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        
        background-color: #613DC1;
        color: #FBF5F3;

        font-family: 'Montserrat';
        font-size: 0.8rem;
        font-weight: 500;

        cursor: pointer;
    }
</style>