<div class="content-wrapper">

    <div class="title-container">
        <h1 class="title">Conversor de Distância</h1>
        <h4 class="description">FUP que leia um valor em quilometros e converta para metros e centimetro;</h4>
    </div>

    <div class="form-container">
        <label for="km" class="label" >Valor em Quilometros</label>
        <input id="km" type="number" class="input">
    </div>

    <div class="result-container">
        <h2 class="result">
            Resultado: <span id="resultValue">-</span>
        </h2>
    </div>

    <div class="button-container">
        <button class="button" onclick="ConvertKmToMeterAndCm()">Enviar</button>
    </div>
    
</div>