<div class="content-wrapper">

    <div class="title-container">
        <h1 class="title">Somar Dois Números</h1>
        <h4 class="description">FUP que solicite dois numeros reais, realize a soma; Imprima o resultado;</h4>
    </div>

    <div class="form-container">
        <label for="num1" class="label" >Primeiro Valor</label>
        <input id="num1" type="number" class="input">
        <label for="num2" class="label" >Segundo Valor</label>
        <input id="num2" type="number" class="input">
    </div>

    <div class="result-container">
        <h2 class="result">
            Resultado: <span id="resultValue">-</span>
        </h2>
    </div>

    <div class="button-container">
        <button class="button" onclick="sendData()">Enviar</button>
    </div>
</div>