<div class="content-wrapper">

    <div class="title-container">
        <h1 class="title">Conversor de Temperatura</h1>
        <h4 class="description">Ler uma temperatura em graus Celsius e apresentá-la convertida em graus Fahrenheit. A fórmula de conversão é : F = (9*C+160)/5 Sendo F a temperatura em Fahrenheit e C a temperatura em Celsius.</h4>
    </div>

    <div class="form-container">
        <label for="celsius" class="label" >Temperatura em Celcius</label>
        <input id="celsius" type="number" class="input">
    </div>

    <div class="result-container">
        <h2 class="result">
            Resultado: <span id="resultValue">-</span>
        </h2>
    </div>

    <div class="button-container">
        <button id="buttonExercise4" class="button">Enviar</button>
    </div>
    
</div>