<div class="content-wrapper">

    <div class="title-container">
        <h1 class="title">Tabuada até 10</h1>
        <h4 class="description">FUP que peça um número e imprima a tabuada deste número;
        </h4>
    </div>

    <div class="form-container">
        <label for="number" class="label" >Número</label>
        <input id="number" type="number" class="input">
    </div>

    <div class="result-container">
        <h2 class="result">
            Resultado: <span id="resultValue">-</span>
        </h2>
    </div>

    <div class="button-container">
        <button class="button" onclick="CreateMultiplicationTable()">Enviar</button>
    </div>
    
</div>