<div class="content-wrapper">

    <div class="title-container">
        <h1 class="title">Conversor de Tempo</h1>
        <h4 class="description">FUP que solicite a duração de um evento em segundos e imprima em horas, minutos e segundos;</h4>
    </div>

    <div class="form-container">
        <label for="seconds" class="label" >Valor em Segundos</label>
        <input id="seconds" type="number" class="input">
    </div>

    <div class="result-container">
        <h2 class="result">
            Resultado: <span id="resultValue">-</span>
        </h2>
    </div>

    <div class="button-container">
        <button class="button" onclick="ConvertSecondsToTime()">Enviar</button>
    </div>
    
</div>