<div class="content-wrapper">

    <div class="title-container">
        <h1 class="title">IMC</h1>
        <h4 class="description">FUP que calcule o IMC;
        </h4>
    </div>

    <div class="form-container">
        <label for="weight" class="label" >Peso</label>
        <input id="weight" type="number" class="input">

        <label for="height" class="label" >Altura</label>
        <input id="height" type="number" class="input">
    </div>

    <div class="result-container">
        <h2 class="result">
            Resultado: <span id="resultValue">-</span>
        </h2>
    </div>

    <div class="button-container">
        <button class="button" onclick="BMICalculator()">Enviar</button>
    </div>
    
</div>